{% extends "encyclopedia/layout.html" %}

{% block title %}
    Add Entry
{% endblock %}

{% block body %}
    <h1>Add an Encyclopedia Entry</h1>
    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% endif %}
    <form method="post">
        <div class="form-group">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-secondary" value="Submit">
        </div>
    </form>
{% endblock %}